.TreeListToolTip_Teste1{font:100 16px/34px "Segoe UI",Arial,Helvetica,sans-serif}
.RadTreeList_Teste1{border-color:#e6e6e6;background:#ffffff;color:#000000;font:100 16px/34px "Segoe UI",Arial,Helvetica,sans-serif}
.RadTreeList_Teste1 .rtlAdd,.RadTreeList_Teste1 .rtlUpdate,.RadTreeList_Teste1 .rtlCancel,.RadTreeList_Teste1 .rtlEdit,.RadTreeList_Teste1 .rtlDel,.RadTreeList_Teste1 .rtlExpand,.RadTreeList_Teste1 .rtlCollapse,.RadTreeList_Teste1 .rtlSortAsc,.RadTreeList_Teste1 .rtlSortDesc{background-image:url('Common/radActionsSprite.png')}
.RadTreeList_Teste1 .rtlHeader a{color:#000000}
.RadTreeList_Teste1 .rtlHeader th{border-color:#e6e6e6}
.RadTreeList_Teste1 div.rtlHeader,.RadTreeList_Teste1 .rtlScroller{border-color:#e6e6e6}
.RadTreeList_Teste1 .rtlRFooter{background-color:#e3e3e3}
.RadTreeList_Teste1 .rtlFooter .rtlTable{height:49px}
.RadTreeList_Teste1 .rtlRFooter td{border-color:#ebebeb}
.RadTreeList_Teste1 .rtlREdit{background-color:#aa95f5}
.RadTreeList_Teste1 .rtlR td,.RadTreeList_Teste1 .rtlA td,.RadTreeList_Teste1 .rtlREdit td,.RadTreeList_Teste1 .rtlEditForm{border-color:#e6e6e6}
.RadTreeList_Teste1 .rtlR a,.RadTreeList_Teste1 .rtlA a,.RadTreeList_Teste1 .rtlREdit a,.RadTreeList_Teste1 .rtlEditForm a{color:#757575;font-weight:800}
.RadTreeList_Teste1 .rtlRSel{background:#cfa923;color:#ffffff}
.RadTreeList_Teste1 .rtlRSel a{color:#ffffff}
.RadTreeList_Teste1 .rtlRSel td{border-color:#cfa923}
.RadTreeList_Teste1 .rtlRActive{background:white;color:#000000}
.RadTreeList_Teste1 .rtlRActive td{border-color:#cfa923}
.RadTreeList_Teste1 .rtlVBorders td.rtlL,.RadTreeList_Teste1 .rtlLines td.rtlL{background-color:#ffffff}
.RadTreeList_Teste1 .rtlExpand,.RadTreeList_Teste1 .rtlCollapse{display:inline-block;margin:0 0 0 12px;position:relative;top:-5px}
*+html .RadTreeList_Teste1 .rtlExpand,*+html .RadTreeList_Teste1 .rtlCollapse{position:relative}
.RadTreeList_Teste1 .rtlExpand{background-position:-17px -167px;background-color:white}
.RadTreeList_Teste1 .rtlCollapse{background-position:-67px -67px;background-color:white}
.RadTreeList_Teste1 .rtlAdd,.RadTreeList_Teste1 .rtlUpdate,.RadTreeList_Teste1 .rtlCancel,.RadTreeList_Teste1 .rtlEdit,.RadTreeList_Teste1 .rtlDel{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;background-color:#fafafa;border:1px solid #cccccc;width:28px;height:28px}
.RadTreeList_Teste1 .rtlAdd:hover,.RadTreeList_Teste1 .rtlUpdate:hover,.RadTreeList_Teste1 .rtlCancel:hover,.RadTreeList_Teste1 .rtlEdit:hover,.RadTreeList_Teste1 .rtlDel:hover{background-color:#e8e8e8}
.RadTreeList_Teste1 .rtlAdd:active,.RadTreeList_Teste1 .rtlUpdate:active,.RadTreeList_Teste1 .rtlCancel:active,.RadTreeList_Teste1 .rtlEdit:active,.RadTreeList_Teste1 .rtlDel:active{background-color:#cfa923;color:white;border-color:#cfa923}
.RadTreeList_Teste1 .rtlEdit{background-position:-12px -3112px}
.RadTreeList_Teste1 .rtlEdit:active{background-position:-112px -3112px}
.RadTreeList_Teste1 .rtlUpdate{background-position:-12px -2612px}
.RadTreeList_Teste1 .rtlUpdate:active{background-position:-112px -2612px}
.RadTreeList_Teste1 .rtlAdd,.RadTreeList_Teste1 .rtlHeader .rtlAdd{background-position:-12px -3012px}
.RadTreeList_Teste1 .rtlAdd:active,.RadTreeList_Teste1 .rtlHeader .rtlAdd:active{background-position:-112px -3012px}
.RadTreeList_Teste1 .rtlHeader .rtlAdd{background-color:transparent;border:0 none}
.RadTreeList_Teste1 .rtlHeader .rtlAdd:hover{background-color:#e8e8e8;border:1px solid #cccccc}
.RadTreeList_Teste1 .rtlHeader .rtlAdd:active,.RadTreeList_Teste1 .rtlHeader .rtlAdd:active:hover{background-color:#cfa923;border:1px solid #cfa923}
.RadTreeList_Teste1 .rtlCancel{background-position:-12px -2812px}
.RadTreeList_Teste1 .rtlCancel:active{background-position:-112px -2812px}
.RadTreeList_Teste1 .rtlDel{background-position:-12px -3312px}
.RadTreeList_Teste1 .rtlDel:active{background-position:-112px -3312px}
.RadTreeList_Teste1 .rtlSortAsc,.RadTreeList_Teste1 .rtlSortDesc{height:10px;float:left;margin:12px 2px 0 0}
.RadTreeList_Teste1 .rtlSortAsc{background-position:-20px -20px}
.RadTreeList_Teste1 .rtlSortDesc{background-position:-20px -70px}
.RadTreeList_Teste1 .rtlLines td.rtlL0{background-image:url('TreeList/rtlSingle.gif')}
.RadTreeList_Teste1 .rtlLines td.rtlL1{background-image:url('TreeList/rtlTop.gif')}
.RadTreeList_Teste1 .rtlLines td.rtlL2{background-image:url('TreeList/rtlMiddle.gif')}
.RadTreeList_Teste1 .rtlLines td.rtlL3{background-image:url('TreeList/rtlBottom.gif')}
.RadTreeList_Teste1 .rtlPagerCell{border-color:#e6e6e6}
.RadTreeList_Teste1 .rtlPager .rtlWrap{line-height:34px}
.RadTreeList_Teste1 .rtlPager .rtlInfoPart{color:#8a8a8a}
.RadTreeList_Teste1 .rtlPager .rtlInfoPart strong{color:#484a43}
.RadTreeList_Teste1 .rtlPager .rtlPageFirst,.RadTreeList_Teste1 .rtlPager .rtlPagePrev,.RadTreeList_Teste1 .rtlPager .rtlPageNext,.RadTreeList_Teste1 .rtlPager .rtlPageLast{background:#fafafa url('Common/radActionsSprite.png') no-repeat;width:30px;height:30px;border:1px solid #cccccc;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px}
.RadTreeList_Teste1 .rtlPager .rtlPageFirst:hover,.RadTreeList_Teste1 .rtlPager .rtlPagePrev:hover,.RadTreeList_Teste1 .rtlPager .rtlPageNext:hover,.RadTreeList_Teste1 .rtlPager .rtlPageLast:hover{background-color:#e8e8e8}
.RadTreeList_Teste1 .rtlPager .rtlPageFirst:active,.RadTreeList_Teste1 .rtlPager .rtlPagePrev:active,.RadTreeList_Teste1 .rtlPager .rtlPageNext:active,.RadTreeList_Teste1 .rtlPager .rtlPageLast:active{background-color:#cfa923;color:white;border-color:#cfa923}
.RadTreeList_Teste1 .rtlPager .rtlPageFirst{background-position:-11px -711px}
.RadTreeList_Teste1 .rtlPager .rtlPageFirst:active{background-position:-111px -711px}
.RadTreeList_Teste1 .rtlPager .rtlPagePrev{background-position:-11px -111px}
.RadTreeList_Teste1 .rtlPager .rtlPagePrev:active{background-position:-111px -111px}
.RadTreeList_Teste1 .rtlPager .rtlPageNext{background-position:-11px -161px}
.RadTreeList_Teste1 .rtlPager .rtlPageNext:active{background-position:-111px -161px}
.RadTreeList_Teste1 .rtlPager .rtlPageLast{background-position:-11px -761px}
.RadTreeList_Teste1 .rtlPager .rtlPageLast:active{background-position:-111px -761px}
.RadTreeList_Teste1 .rtlPager .rtlPagerButton{border-color:red;background:#cfa923;color:#ffffff}
.RadTreeList_Teste1 .rtlPager .rtlNumPart a{-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;margin:2px 1px 0 1px;padding:0;width:28px;height:28px;border:#cccccc;color:black;background-color:#fafafa;line-height:28px;text-align:center;border:1px solid #cccccc}
.RadTreeList_Teste1 .rtlPager .rtlNumPart a span{padding:0;float:none;display:inline}
.RadTreeList_Teste1 .rtlPager .rtlNumPart a:hover{background-color:#e8e8e8}
.RadTreeList_Teste1 .rtlPager .rtlNumPart a.rtlCurrentPage,.RadTreeList_Teste1 .rtlPager .rtlNumPart a.rtlCurrentPage:hover{border-color:#cfa923;color:white;background:#cfa923}
.RadTreeList_Teste1 .rtlDragHandle{background-image:url('Grid/rgDrag.gif')}
.TreeListReorderTop_Teste1,.TreeListReorderBottom_Teste1{width:1px;height:30px;margin:24px 0 0 -2px;border-right:1px solid #808080;border-left:1px solid red;border-color:rgba(255,255,255,0.5);background:black!important}
.TreeListReorderBottom_Teste1{margin:-24px 0 0 -2px}
.TreeListReorderBottom_Teste1:after,.TreeListReorderTop_Teste1:before{content:"";display:block;width:9px;height:9px;margin-left:-5px;margin-top:-6px;background:black;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;border:1px solid #808080;border-bottom-width:0;border-color:rgba(255,255,255,0.5)}
.TreeListReorderBottom_Teste1:after{border-top-width:0;border-bottom-width:1px;margin-top:29px}.TreeListToolTip_Teste1{border-color:#1600bf;background:#c3b5f5;color:#333333}.RadTreeListRTL_Teste1 .rtlLines td.rtlL1{background-image:url('TreeList/rtlTopRTL.gif')}.RadTreeListRTL_Teste1 .rtlLines td.rtlL2{background-image:url('TreeList/rtlMiddleRTL.gif')}.RadTreeListRTL_Teste1 .rtlLines td.rtlL3{background-image:url('TreeList/rtlBottomRTL.gif')}

div.RadTreeList_Teste1 .rtlTable {
    color: #3a272f; /*muda cor da letra de uma das linhas da tabela*/
}

/*muda cores do cabeçalho da tabela*/
div.RadTreeList_Teste1 .rtlHeader {
    color: #fbf4c7;
    background-color: #3a272f;
    border-radius: 10px 10px 0 0; /*arredonda as bordas superiores do cabeçalho da treelist*/
}

 div.RadTreeList_Teste1 .rtlHeader a {
	color: rgb(255, 255, 255);
	font-weight: bold;
}

 /*muda cor da linha inicial*/
div.RadTreeList_Teste1 .rtlR {
    color: #3a272f; /*muda cor da letra da linha inicial*/
    font-weight: bold;
    background-color: #b8c945;
}

/*muda cor da linha alternativa*/
div.RadTreeList_Teste1 .rtlA {
    background-color: transparent;
    color: #3a272f; /*muda cor da letra da linha alternativa*/
    font-weight: bold;
}
 div.RadTreeList_Teste1 .rtlRSel {
	color: rgb(0, 0, 0);
	background-color: rgb(237, 237, 237);
}

div.RadTreeList_Teste1 .rtlREdit {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: #b8c945;
}
 div.RadTreeList_Teste1 .rtlVBorders td.rtlL {
	background-color: rgb(255, 255, 255);
}
 div.RadTreeList_Teste1 .rtlLines td.rtlL {
	background-color: rgb(255, 255, 255);
}
