.RadWizard_alano {
  color: #333333;
  background: #ffffff; }
  .RadWizard_alano .rwzButton {
    border-radius: 3px;
    border-color: #b3b3b3;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }
  .RadWizard_alano .rwzNext,
  .RadWizard_alano .rwzFinish {
    border-color: #a60909;
    color: #ffffff;
    background-color: #c30b0b;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
  .RadWizard_alano .rwzLink {
    border-color: #b3b3b3;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6); }
    .RadWizard_alano .rwzLink:before {
      border-color: #b3b3b3;
      background-image: linear-gradient(135deg, white, #e6e6e6); }
      @media screen\0 {
        .RadWizard_alano .rwzLink:before {
          background-color: #e6e6e6; } }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        .RadWizard_alano .rwzLink:before {
          background-color: transparent; } }
  .RadWizard_alano .rwzProgressBar {
    border-radius: 3px;
    border-color: #cdcdcd;
    background-color: #e6e6e6; }
  .RadWizard_alano .rwzProgress {
    border-color: #930808;
    background-color: #c30b0b; }
  .RadWizard_alano .rwzHovered.rwzButton,
  .RadWizard_alano .rwzHovered .rwzLink {
    border-color: darkgray;
    color: #000000;
    background-color: #c2c2c2;
    background-image: linear-gradient(gainsboro, #c2c2c2); }
  .RadWizard_alano .rwzHovered.rwzNext,
  .RadWizard_alano .rwzHovered.rwzFinish {
    border-color: #890808;
    color: #ffffff;
    background-color: #a60909;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
  .RadWizard_alano .rwzHovered .rwzLink:before {
    border-color: darkgray;
    background-image: linear-gradient(135deg, gainsboro, #c2c2c2); }
    @media screen\0 {
      .RadWizard_alano .rwzHovered .rwzLink:before {
        background-color: #c2c2c2; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadWizard_alano .rwzHovered .rwzLink:before .rtbWrap {
        background-color: transparent; } }
  .RadWizard_alano .rwzFocused.rwzButton {
    box-shadow: 0 0 5px rgba(147, 8, 8, 0.6) inset; }
  .RadWizard_alano .rwzFocused.rwzNext {
    border-color: #6c0606;
    box-shadow: 0 0 5px #6c0606 inset; }
  .RadWizard_alano .rwzSelected .rwzLink {
    border-color: #930808;
    color: #ffffff;
    background-color: #c30b0b;
    background-image: linear-gradient(#f11010, #c30b0b); }
  .RadWizard_alano .rwzSelected .rwzLink:before {
    border-color: #930808;
    background-image: linear-gradient(135deg, #f11010, #c30b0b); }
    @media screen\0 {
      .RadWizard_alano .rwzSelected .rwzLink:before {
        background-color: #c30b0b; } }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .RadWizard_alano .rwzSelected .rwzLink:before .rtbWrap {
        background-color: transparent; } }

.RadWizard_alano.rwzHorizontal .rwzFirst .rwzLink {
  border-radius: 0.25em 0em 0em 0.25em; }

.RadWizard_alano.rwzHorizontal .rwzLast .rwzLink {
  border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_alano.rwzHorizontal .rwzFirst.rwzLast .rwzLink {
  border-radius: 3px; }

.RadWizard_alano.rwzHorizontal .rwzProgressBar {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }

.RadWizard_alano.rwzHorizontal .rwzProgress {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

.RadWizard_alano.rwzVertical .rwzFirst .rwzLink {
  border-radius: 0.25em 0.25em 0em 0em; }

.RadWizard_alano.rwzVertical .rwzLast .rwzLink {
  border-radius: 0em 0em 0.25em 0.25em; }

.RadWizard_alano.rwzVertical .rwzSelected .rwzLink {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.RadWizard_alano.rwzVertical .rwzProgressBar {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); }

.RadWizard_alano.rwzVertical .rwzProgress {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

.RadWizard_alano.rwzRightBreadCrumb .rwzFirst .rwzLink,
.RadWizard_alano.RadWizard_rtl.rwzVertical .rwzFirst .rwzLink {
  border-top-right-radius: 3px; }

.RadWizard_alano.rwzRightBreadCrumb .rwzLast .rwzLink,
.RadWizard_alano.RadWizard_rtl.rwzVertical .rwzLast .rwzLink {
  border-bottom-right-radius: 3px; }

.RadWizard_alano.rwzRightBreadCrumb .rwzSelected .rwzLink,
.RadWizard_alano.RadWizard_rtl.rwzVertical .rwzSelected .rwzLink {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.RadWizard_alano.RadWizard_rtl.rwzHorizontal .rwzFirst .rwzLink {
  border-radius: 0em 0.25em 0.25em 0em; }

.RadWizard_alano.RadWizard_rtl.rwzHorizontal .rwzLast .rwzLink {
  border-radius: 0.25em 0em 0em 0.25em; }
