
body {
    background-image: url('../images/cinza.jpg');
}

.RadWizard_A {
    color: #000000;
    background: #00FF00;
    font-size: 16px;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

    .RadWizard_A .rwzButton {
        padding: .25em .8125em .375em;
        border-color: #cccccc;
        color: #000000;
        background-color: #00FF00
    }

        .RadWizard_A .rwzButton.rwzHovered {
            border-color: #cccccc;
            color: #000000;
            background-color: #00FF00
        }

        .RadWizard_A .rwzButton.rwzClicked {
            border-color: #ff003e;
            color: #ffffff;
            background-color: #00FF00
        }

        .RadWizard_A .rwzButton.rwzDisabled {
            border-color: #e0e0e0;
            color: #c4c4c4;
            background-color: #00FF00
        }

    .RadWizard_A .rwzBreadCrumb {
        color: #000000
    }

        .RadWizard_A .rwzBreadCrumb .rwzLI {
            border-color: #00FF00
        }

        .RadWizard_A .rwzBreadCrumb .rwzLink {
            *color: #00FF00;
            background-color: #fafafa /*cor do banner sem estar selecionado*/
        }

        .RadWizard_A .rwzBreadCrumb .rwzCallout {
            width: .8125em;
            right: -0.8125em;
            background: url('images/Wizard/rwzCallout.png') no-repeat 100% 50%
        }

            .RadWizard_A .rwzBreadCrumb .rwzCallout:before {
                display: none
            }

        .RadWizard_A .rwzBreadCrumb .rwzHovered {
            color: #000000;
            border-color: #cccccc
        }

            .RadWizard_A .rwzBreadCrumb .rwzHovered .rwzLink {
                *color: #ffffff;
                background-color: #e8e8e8
            }

            .RadWizard_A .rwzBreadCrumb .rwzHovered .rwzCallout {
                background-image: url('images/Wizard/rwzCalloutHover.png')
            }

        .RadWizard_A .rwzBreadCrumb .rwzSelected {
            color: #ffffff;
            border-color: #ff003e
        }

            .RadWizard_A .rwzBreadCrumb .rwzSelected .rwzLink {
                *color: #ffffff;
                background-color: rgb(190, 13, 13) /*cor do banner que esta selecionado*/
            }

            .RadWizard_A .rwzBreadCrumb .rwzSelected .rwzCallout {
                background-image: url('images/Wizard/rwzCalloutSelect.png');
                background-color: #00FF00;
            }

        .RadWizard_A .rwzBreadCrumb .rwzDisabled {
            color: #c4c4c4;
            border-color: #cccccc
        }

            .RadWizard_A .rwzBreadCrumb .rwzDisabled .rwzLink {
                background-color: #00FF00
            }

            .RadWizard_A .rwzBreadCrumb .rwzDisabled .rwzCallout {
                background-image: url('images/Wizard/rwzCalloutDisable.png')
            }

/* Coloca a cor nas pontas do banner #Proteina -> Bebidas -> Sobremesas -> Finalizar# */
    .RadWizard_A .rwzSelected .rwzLink:before {
        background-image: linear-gradient(135deg, rgb(190, 13, 13), rgb(190, 13, 13));
    }


    .RadWizard_A .rwzProgressBar {
        border: 0;
        background-color: #e6e6e6
    }

    .RadWizard_A .rwzProgress {
        background-color: white
    }

    .RadWizard_A.rwzHorizontal .rwzBreadCrumb .rwzCallout {
        top: -1px;
        bottom: -1px
    }

    .RadWizard_A.rwzRightBreadCrumb .rwzBreadCrumb .rwzCallout, .RadWizard_A.RadWizard_rtl .rwzBreadCrumb .rwzCallout {
        left: -0.8125em;
        right: auto;
        
    }

    .RadWizard_A.rwzRightBreadCrumb .rwzBreadCrumb .rwzHovered .rwzCallout, .RadWizard_A.RadWizard_rtl .rwzBreadCrumb .rwzHovered .rwzCallout {
        background-color: #00FF00;
    }

    .RadWizard_A.rwzRightBreadCrumb .rwzBreadCrumb .rwzSelected .rwzCallout, .RadWizard_A.RadWizard_rtl .rwzBreadCrumb .rwzSelected .rwzCallout {
        background-color: #EA0606;
    }


div.RadWizard_A .rwzLink {
    color: rgb(0, 0, 0); /*muda cor do texto do banner, somente a parte que não está selecionada*/
    border-color: #EA0606; /*muda cor da borda do banner, somente a parte que não está selecionada*/
}

div.RadWizard_A .rwzCallout {
    color: #00FF00;
    border-color: #00FF00;
}

div.RadWizard_A .rwzHovered .rwzLink {
    border-color: #EA0606; /*muda cor do banner quando o mouse está em cima item, mas o mesmo não está selecionado*/
}

div.RadWizard_A .rwzHovered .rwzCallout {
    border-color: #00FF00;
}

div.RadWizard_A .rwzSelected .rwzLink {
    color: rgb(255, 255, 255); /*muda cor do texto do banner quando está selecionado*/
    border-color: #EA0606; /*muda cor da borda do banner, somente a parte que está selecionada*/
}

div.RadWizard_A .rwzSelected .rwzCallout {
    color: #00FF00;
    border-color: #00FF00;
}

div.RadWizard_A .rwzProgressBar {
    background-color: white;
    color: #00FF00;
}

div.RadWizard_A .rwzProgress {
    background-color: #00FF00;
}

div.RadWizard_A .rwzButton {
    border-left-color: #00FF00;
    color: rgb(255, 255, 255); /*muda cor do texto dos botões na posição inferior da tela*/
    background-color: #00FF00;
}

div.RadWizard_A .rwzProgress {
    background-color: #00FF00;
}

div.RadWizard_A .rwzButton {
    background-color: #00FF00;
}

div.RadWizard_A .rwzProgress {
    background-color: #00FF00;
}

div.RadWizard_A .rwzButton {
    background-color: #00FF00;
}

div.RadWizard_A .rwzProgress {
    background-color: #00FF00;
}

div.RadWizard_A .rwzButton {
    background-color: #00FF00;
}

div.RadWizard_A .rwzProgress {
    background-color: rgb(190, 13, 13); /*muda cor da barra de progresso*/
}

div.RadWizard_A .rwzButton {
    background-color: rgb(190, 13, 13); /*muda cor do botao PROXIMO e ANTERIOR*/
}

    div.RadWizard_A .rwzButton.rwzHovered {
        background-color: #EA0606;
    }
